@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import '~antd/dist/antd.css';

/* body{
    background-color: #181818;
} */
.poem {
    justify-content: space-evenly;
    text-align: justify;
}

.nav{
    margin-left: 2.0em;
}

.author {
    /* display: block; */
    text-align: right;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

/*************************
Media Queries
*************************/

@media only screen and (min-width: 480px) {
    .main {
        margin: 20px;
    }
}

@media only screen and (min-width: 768px), 
        only screen and (min-width: 700) and (orientation: landscape) {
    .main {
        margin: 10px 40px 10px 40px
    }
}

@media only screen and (min-width: 1140px) {
    .main {
        margin: 30px 100px 20px 100px
    }
}