@import '~antd/dist/antd.css';
.poem {
    justify-content: stretch;
}

.author {
    display: block;
    text-align: right;
}

/*************************
Media Queries
*************************/

@media only screen and (min-width: 480px) {
    .main {
        margin: 20px;
    }
}

@media only screen and (min-width: 768px), 
        only screen and (min-width: 700) and (orientation: landscape) {
    .main {
        margin: 10px 40px 10px 40px
    }
}

@media only screen and (min-width: 1140px) {
    .main {
        margin: 30px 100px 20px 100px
    }
}